@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-open-sans);
	--font-poppins: var(--font-poppins);
	--color-accent: #50806b;
	--color-secondary: #979797;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Open Sans, Poppins;
	font-size: 16px;
	max-width: 1400px;
	margin: 0 auto;
}
